<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <main class="jumbotron text-center rounded col-md-12 align-self-center">
            <div class="justify-content-center">
                <h1>Add Employee</h1>
            </div>
            <form th:action="@{/employees/add}"
                  th:method="POST"
                  th:object="${employeeDTO}"
                  class="m-md-auto w-50 text-center">

                <div class="form-group">
                    <label th:for="firstName">First Name</label>
                    <input th:field="*{firstName}" type="text"
                           class="form-control text-center" aria-describedby="firstName"/>
                    <small>Error message</small>
                </div>

                <div class="form-group">
                    <label th:for="lastName">Last Name</label>
                    <input th:field="*{lastName}" type="text" class="form-control text-center" aria-describedby="lastName"/>
                    <small>Error message</small>
                </div>
                <fieldset class="form-group">
                    <legend>Choose Education Level</legend>
                    <div th:each="level: ${levels}" class="form-check">
                        <label class="form-check-label">
                            <input th:field="*{educationLevel}" th:value="${level.name()}" type="radio" class="form-check-input" />
                            <span th:text="${level}">Level</span>
                        </label>
                    </div>

                    <small>Error message</small>
                </fieldset>

                <div class="form-group">
                    <label th:for="company"><h5>All available companies</h5></label>
                    <select th:field="*{company}" multiple="false" class="form-control text-center">
                        <option th:each="company: ${companies}"
                                th:text="${company.name}"
                                th:value="${company.name}"></option>

                    </select>
                    <small>Error message</small>
				</div>

                <div class="form-group">
                    <label th:for="jobTitle">Job Title</label>
                    <input th:field="*{jobTitle}" type="text" class="form-control text-center" aria-describedby="jobTitle"/>
                    <small>Error message</small>
                </div>

                <div class="form-group">
                    <label th:for="birthDate">Birth Date</label>
                    <input th:field="*{birthDate}" type="date" class="form-control text-center" aria-describedby="birthDate"/>
                    <small>Error message</small>
                </div>

                <div class="form-group">
                    <label th:for="salary">Salary</label>
                    <input th:field="*{salary}" type="number" min="0" class="form-control text-center"
					aria-describedby="salary"/>
                    <small>Error message</small>
                </div>

                <button type="submit" class="btn btn-secondary">Add Employee</button>
            </form>
        </main>
    </div>
</div>
</body>
<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</html>